@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Walter+Turncoat&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Ubuntu', sans-serif;    
}

h1, h2 {
    font-family: 'Walter Turncoat', cursive;
}

/* header style */

#nav-title {
    float: left;
    margin: 0 0 0 45px;
}

header > a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 140%;
}

#menu, #nav-title {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu li {
    list-style-type: none;
    float: right;
    margin-right: 40px;
}

#menu a:hover {
    color: silver;
}

/* hamster logo picture - first section of the index page */

#main-header {
    overflow: hidden;
    height: 530px;
    width: 100%;
}

#main-hamster-image{
    height: 550px;
    width: 110%;
    background: url(../images/hamster-header.jpeg) no-repeat center center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

#title-main-content {
    font-size: 210%;
    padding: 80px;
    text-align: center;
}

/* mid section with hamsters pics and description */

div.container {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
      
p {
    text-align:center;
    width: 450px;
    font-size: larger;
}

.hamster-pics {
    width: 240px;
    height: 100%;
    border-radius: 50%;
}

/* contact page FORM */
#container-form{
    width: 100%;
    height: 100%;
    background: url(../images/contact-hamster-background.png) no-repeat center center;
}

#container-form > img {
    width: 100%;
    height: 100%;
}
  
#form-contact {
    width: 80%;
    padding-top: 25px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: large;
}

.form-btn{
    text-align: center;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 12px;
}

.form-btn:hover {
    background-color: #91908d;
    border: none;
    color: black;
}

#fname, #lname, #email, #tel {
    width: 251px;
    height: 30px;
}

/* footer */

footer {
    width: 100%;
    height: 80px;
}
  
.social-media {
    text-align: center;
}
  
.social-media > li {
    display: inline;
}
  
.social-media i {
    font-size: 180%;
    margin: 1%;
    padding: 6%;
    color: black;
}

i:hover{
    color: silver;
}

/* @media screen and (max-width: 1200px) {

}

@media screen and (max-width: 950px) { 

}

@media screen and (max-width: 800px) { 

} */